body {
  background-color: #000000;
  font-size: 50px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
h1{
  color: #0DAB76;
  font-size:300%;
  transition: color 0.5s ease-in-out;
  text-align: center;
}
ul{
  display: table;
}
span{
  color: #DDDBCB;
  font-size:150%;
  transition: color 3s ease-in-out;
}
input{
  background: none;
  font-size:100%;
  color: #DDDBCB;
  border:none;
  outline: none;
}
.form,
.greetings{
  color: #FCBA04;
  display: none;
}

.showing{
  display: block;
}
